@page
@model AlgorytmDobieraniaZasobowProdukcyjnych.Pages.TabelaModel
@{
    ViewData["Title"] = "Tabela";
}


@if (!(Model.Image is null))
{

}

<h2>Dane dla zasobu produkcyjnego klasy wał</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var info in Model.Data.AtributeName)
            {
                <td>@info</td>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var value in Model.Data.AtributeValue)
            {
                <td>@string.Format("{0:0.00}", value)</td>
            }
        </tr>
    </tbody>

</table>
<br />
<br />
<br />
<h2>Dane dla poszczególnych stopni wału</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (var info in Model.Data.ListName)
            {
                <td>@info</td>
            }

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Data.ListValue[0].Length; i++)
        {

            <tr>
                @foreach (var list in Model.Data.ListValue)
                {
                    if (Model.Index == 0 || Model.Index == 3 || Model.Index == 4 || Model.Index == 6)
                    {
                        <td>@list[i]</td>
                    }
                    else
                    {
                        <td>@string.Format("{0:0.00}", list[i])</td>
                    }
                    Model.Index++;
                }
            </tr>
            Model.Index = 0;
        }
    </tbody>

</table>

<br />
<br />
<br />
<h2>Parametry skrawania dla wybranych narzędzi do obróbki zgrubnej: </h2>
@foreach (var table in Model.Dane.Parameters)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var info in Model.Dane.ParametersNames)
                {
                    <td>@info</td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var parameter in table)
            {
                <tr>
                    @for (int i = 0; i < parameter.Count; i++)
                    {
                        <td>@string.Format("{0:0.00}", parameter[i])</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
