@model AlgorytmDobieraniaZasobowProdukcyjnych.Data.DataTablePartialModel

<label>@Model.TableName</label>
<table style="font-size:0.9rem" ; text-align="justify" , width="100%" cellspacing="0"
       id="dataTable" class="table table-sm table-bordered table-hover table-responsive">
    <thead class="thead-light">
        <tr>
            @foreach (var info in Model.Infos)
            {
                if (info.Name == "Kod")
                {
                    <th id="kod" scope="col">@info.Name</th>
                }
                else
                {
                    <th id="@info.Name" scope="col">@info.Name</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model.Datas)
        {
            <tr data-obraz="@data.Obraz">
                @foreach (var info in Model.Infos)
                {
                    <td>@info.GetValue(data)</td>

                }
            </tr>
        }
    </tbody>

</table>